.container {
    display: flex;
    height: 100vh;
  }
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
    width: 250px;
    height: 3000px;
    background: #333;
 
    color: #fff;
    padding: 20px;
    
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menuItem {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition:'background 0.3s';
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left:15px;
  }
  .menuIcon {
    margin-right: 10px;
  },
  .content {
    flex: 1;
    padding: 20px;
    
   
   
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left:300px
  }
  .statistics {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    
  }
  .statItem {
    background: #e3e3e3;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #333;
  }
.button {
    background-color:#333;
  color:white;
  font-size:17px;
  height:40px;
  width:170px;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 10px;
  border-color:transparent;
  cursor: pointer;
  }

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    margin-right: 0;
  }
  .content {
    padding: 10px;
  }
  .explore {
    grid-template-columns: repeat(2, 1fr);
    max-width: none;
  }
  .size {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }
  .menuItem {
    margin-left: 10px;
  }
  .table th, .table td {
    padding: 5px;
    font-size: 12px;
  }
  .name {
    font-size: 20px;
    margin-top: 10px;
  }
  .price {
    font-size: 16px;
  }
} 
