a {
    text-decoration: none;
  }
  
  body {
    background-color: #fafafa;
   
    justify-content: center;
    align-content: center;
  
    align-items: center;
    height: 100vh;
    
  }
  
  .box {
    border: 1px solid #dfdfdf;
    background-color: #fff;
  }
  
  .g-btn {
    width: 100% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
  }
  .g-btn > div,
  .g-btn > div > svg {
    width: 40px !important;
    height: 38px !important;
  }
  .button-right {
    display: flex;
    justify-content: flex-end;
  }
  
  #recaptcha-container {
    margin: 20px;
  }
  .btnn{
    
  color:'black';
  fontSize:'20px';
  padding: '10px 60px';
  borderRadius: '5px';
  margin: '10px 0px';
  }
  #container{
    min-height:100vh;
    display:flex;
    background-color:'Light gray';
   align-items:'center';
   justify-content:'center';
   flexDirection: 'column';
  }
  .left{
    width:50vw;


   
  }
  .right{
    width:50vw;
    
   
  }
  .phoneinput{
    width:60% !important;
    height:10% !important;
     fontSize:10px !important;
    margin:10px !important;
  }