.container {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 250px;
  background: #333;
  color: #fff;
  padding: 20px;
  margin-right:20px
}
.logo {
  fontSize: 24px;
  fontWeight: bold;
  paddingBottom: 20px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.menuItem {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition:'background 0.3s';
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left:15px;
}
.menuIcon {
  margin-right: 10px;
},
.content {
  flex: 1;
  padding: 20px;
 
 
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.statistics {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.statItem {
  background: #e3e3e3;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: #333;
}
.button {
  background-color:#333;
color:white;
font-size:17px;
height:40px;
width:160px;
padding: 10px 10px;
border-radius: 5px;
margin: 10px;
border-color:transparent;
cursor: pointer;
}
h1{
  text-align: center;
  margin-bottom: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

tr {
  border-bottom: 1px solid #ddd;
}

th:first-child, td:first-child {
  width: 30%;
}

th:nth-child(2), td:nth-child(2) {
  width: 10%;
}

th:nth-child(3), td:nth-child(3) {
  width: 10%;
}

th:last-child, td:last-child {
  width: 10%;
} 

.explore{
  margin-left:5%;
  margin-right:30px;
  display:grid !important;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns:  auto 1fr 1fr auto ;
  grid-gap:20px;
  align-items: center;
  align-content:center;
  border:none;
  margin-top: 30px;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.name{
  padding:0 5px 5px;
  font-family: sans-serif;
  max-height: 150px;
  text-align: center;
  font-size: 24px;
  margin-top:20px;
}
.price{
  padding:0 5px 5px;
  font-size: 18px;
  text-align: center;
}


.size{
  
  background: #fff;
  border:none;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  text-align: center;
  width: 250px;
  height:420px;
  overflow: hidden;
  transition:transform .3s;
  margin-bottom:20px;
  margin-right:10px;

}

.size:hover{
  transform: translateY(5px);
  box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.3);
}

.size img{
  width:80%;
  height:40%;
  border:none;
  border-top-left-radius:2px;
  border-top-right-radius: 2px;
}
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.orderb{
  backgroundColor: #118dda;
  color:white;
  fontSize:15px;
  padding: 5px 2px;
  borderRadius: 5px;
  borderColor:transparent;
  margin:10px;
  width:100px;
  height:30px;
  marginLeft:130px;
  cursor: pointer;
  
}
.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 900px;
  min-width: 900px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.charts{
  display: flex;
  height:100px;
   
}
.order{
  flex: 1; 
  width:300px;
}
.cart-quantity {
  display: flex;
  align-items: center;
}

.cart-quantity button {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
}

.cart-quantity button:hover {
  background-color: #f2f2f2;
}

.cart-quantity span {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}